body {
background-color: #e48bdf;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #ec33c4;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}